//! tipografia:
$fuente_principal: 'Public Sans', sans-serif;

//! colores:
$color_azulFondo: #303644;
$color_azulOscuroTexto: #1D1F26;
$color_blancoFondoTexto: #E5ECF4;
$color_celesteClaro: #ABBCCF;

//! Medias Query
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;